@charset "utf-8";
.box1 {
    background-color: #DBE3E1;
    width: auto;
    height: auto;
}
header h1 {
    text-align: center;
}


.box2 {
    background-color: #E3E7E1;
    width: auto;
    height: auto;
}
nav p {
    text-align: center;
}
header{
    background-color: #7E9C87;
    color: #FFFFFF;
    font-style: normal;
}
nav p a {
    color: #0F3218;
    text-decoration: underline;
    text-transform: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

}
h3{
    background-color: #BDC4B1;
    color: #052704;
    border-top-width: 0px;
    -webkit-box-shadow: inset 0px 2px #5C6F58;
    box-shadow: inset 0px 2px #5C6F58;
}
